*
!image/
!100dongeng.png
!biologi-ketut.png
!cara_membangu_umkm.png
!fisika.png
!funicula.png
!gadis_kretek.png
!hello.png
!laskar_pelangi.png
!laut_bercerita.png
!matematika-cahaya_dewi.png
!matematika-dewi.png
!matematika-rimbero.png
!menjadi_pengusaha_muda.png
!pancasila.png
!pjok-ketut_susilo.png
!pjok-ketut-mts.png
!pulang_pergi.png
!SBK-Fauget.png
!Seni_tari-cahaya_dewi.png
!.gitignore
